h1{
  color:navy;
  margin-left:20px
}

body{
  background-color:#effaf6
}

nav ul li:hover {background:#E6E6E6;}
nav ul li a {display:block; padding:15px 25px; color:#444; text-decoration:none; }
nav ul li ul {position:absolute; width:120px; background:#444;}
nav ul li ul li {width:120px;}
nav ul li ul li a {display:block; padding:15px 10px; color:#FFF;}
nav ul li ul li:hover a {background:#D1D1D1; color:#F00;}
nav ul li ul.fallback {display:none;}
nav ul li:hover ul.fallback {display:block;}
